{% extends 'secondbase.html' %}
{% load static %}
{% block content %}
    <div class="clearfix">
      <div class="row svgrow"style="height: 300px;">
        <div class="col"><svg type="svg/xml" style="overflow: visible;"><image href="/static/images/home.svg"></image></svg></div>
        <div class="col"><svg type="svg/xml" style="overflow: visible;"><image href="/static/images/10 SCENE.svg"></image></svg></div>
        <div class="col"><svg type="svg/xml" style="overflow: visible;"><image href="/static/images/4 SCENE.svg"></image></svg></div>
      </div>
      <div class="row p-5 normal-body m-auto">
        {% for instance in object_list %}
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-6 d-flex align-items-stretch">
          <div class="card cardi mr-4 mb-2">
            <img src="{{instance.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title detail">{{instance.title}} </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item detail">{{instance.price}}</li>
            </ul>
            <div class="card-body">
              {% if user.is_authenticated%}
              <a href="/dishes/{{instance.id}}/" class="card-link detail">Order <i class="fa-solid"></i></a>
              {%else%}
              <a href="/login/" class="card-link detail">Order <i class="fa-solid"></i></a>
              {%endif%}
            </div>
          </div>
  
        </div>
      {% endfor %}
  
  
  
    </div>
    </body>
{% endblock content %}
