{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="cart" style="background-color:#f3b184;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5">
                <h2 class="text-center">Active Orders</h2>
                {% if object_list %}
                <h6 class="text-center">Please Pay Either via ATM or Credit Card or Cash on Delivery!</h6>
                <div class="table-responsive">
                    <table class="table"style="background-color:#f3f3f3;">
                        <thead>
                        <tr>
                            <th scope="col">Ordered</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Pieces</th>
                            <th scope="col">Order Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for instance_active in object_list %}
                        <tr>
                            <td>{{ instance_active.ordered_date }}</td>
                            <td>{{ instance_active.title }} 
                            <td>{{ instance_active.price}}</td>
                            <td>{{ instance_active.portions }} pieces</td>
                            <td>{{ instance_active.status }}</td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 class="text-center">Sorry, you have not ordered any item yet!!!</h4>
                {% endif %}
            </div>
        </div>

</div>
{% endblock content %}