{% extends 'secondbase.html'%}
{% block content %}
    {% if searched %}
            <h3>Showing Results for <small>{{searched}}</small></h3><br>
            {% for instance in items%}
            <div class="card" style="width: 18rem;">
                <img src="{{instance.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{instance.title}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{instance.price}}</li>
                </ul>
                <div class="card-body">
                  <a href="/dishes/{{instance.id}}/" class="card-link">Order</a>
                </div>
              </div>
            {% endfor %}
    {% else %}
    <h4>You need to type in a meal to find</h4>
    {% endif %}
{% endblock %}