@font-face {
    font-family: 'mathletebulky';
    src:
         url('../fonts/Mathlete-Bulky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('http://fonts.cdnfonts.com/css/kg-blank-space-sketch');
.navbar-base{background-color:#f3f3f3;box-shadow:2px 2px 4px rgb(58, 57, 57);width:100%;padding:2px;}
.nav-link{color:rgb(255,110,0);font-family: 'Andika New Basic';}
a.nav-link:hover{text-decoration: underline;color: rgb(255,110,0);}
.navbar-brand{font-family: 'Barrio',cursive;color:rgb(246,139,30);font-size: 250%;}
@media (max-width:768px){#block{display:block;padding: 6px;}}
small{font-family: 'Andika New Basic';font-weight: bold;color:rgb(58, 57, 57);text-align: center;}
.col-7{text-align: center;vertical-align: middle;}
#body{background-image: url('../images/brooke-lark-08bOYnH_r_E-unsplash.jpg');
      background-size: cover;overflow-y:visible;}
.bigbtn{height: 75px;width:400px;background-color: rgb(255,110,0);color:white;border:1px solid rgb(255,110,0);border-radius: 25px;}
.normal-body{background-color:#f3b184;}
image{height: 300px;width: 300px;overflow: visible;}
.navbar-menu{background-color: rgb(230,110,0);color:white;box-shadow:2px 2px 4px rgb(58, 57, 57);}
.main{background-color:#e1eaf0;}
.detail{font-family: 'Andika New Basic';}
.orderbutton{background-color: rgb(255,110,0); color:#f3f3f3}
.navbar-three{background-color: rgb(230,110,0);color:#f3f3f3;height: 90px;box-shadow:2px 2px 4px rgb(58, 57, 57);}
.tbtext{color: #f3f3f3;}
.img-fluid{border-radius: 4px;}
.content{color:rgb(58, 57, 57);font-family: 'Andika New Basic';}
.col{text-align: center;}
.body{font-family: 'Andika New Basic';}
.body{background-image: url('../images/lidye-1Shk_PkNkNw-unsplash.jpg');
    background-size: cover;overflow-y:visible;color:white}
.signupbody{background-image: url('../images/casey-lee-awj7sRviVXo-unsplash.jpg');
    background-size:cover;overflow-y:visible;}
@media (max-width:768px) {
    .signupbody{min-height: 100%;
        background:url(../images/casey-lee-awj7sRviVXo-unsplash.jpg);
        background-size: cover;overflow-y:visible;
        box-shadow: inset 0 0 0 2000px rgba(238, 234, 236, 0.4) ;}
        .bigbtn{height: 50px;width:300px;background-color: rgb(255,110,0);color:white;border:1px solid rgb(255,110,0);border-radius: 25px;}
}
@media (max-width:576px){.bigbtn{height: 50px;width:200px;background-color: rgb(255,110,0);color:white;border:1px solid rgb(255,110,0);border-radius: 25px;}

    
}
@media (max-width:992px){.body{background: linear-gradient(0deg, rgba(255,0,150,0.3), rgba(235, 230, 233, 0.3)),url(../images/victoria-shes-UC0HZdUitWY-unsplash.jpg);
        background-size: cover;overflow-y:visible;
        min-height: 100%;}}

@media (max-width:768px){.cardi{width: 12rem;}}
@media (max-width:576px){.cardi{width: 10rem;}}
@media (max-width:992px){.svgrow{display: none;}}